@layer init;

@import '../../Theme/Theme.css' layer(theme);


@layer init {
    :host {
        --_Message__avatar__background: hsl(var(--_Message__avatar__hue), 80%, 60%);
        --_Message__avatar__char: '';
        --_Message__avatar__foreground: hsl(var(--_Message__avatar__hue), 80%, 30%);
        --_Message__avatar__hue: 0;
        --_Message__avatar__url: '';
        --_Message__name__color: hsl(var(--_Message__avatar__hue), 100%, 80%);


        --Message__avatar__size: 48px;
        --Message__date__color: inherit;
        --Message__gap: 8px;

        display: block;
    }


    .avatar {
        background-image: linear-gradient(#fff -50%, var(--_Message__avatar__background));
        border-radius: 50%;
        display: grid !important;
        flex-shrink: 0;
        font-size: calc(var(--Message__avatar__size) * 0.4);
        font-weight: bold;
        grid-template: 100% / 100% !important;
        height: var(--Message__avatar__size) !important;
        place-items: center !important;
        position: sticky;
        top: 0;
        width: var(--Message__avatar__size) !important;

        :host([avatar_url]) & {
            background: center / cover no-repeat var(--_Message__avatar__url);
        }

        :host(:not([avatar_url])) &::after {
            color: var(--_Message__avatar__foreground) !important;
            content: var(--_Message__avatar__char) !important;
        }
    }

    .block {
        display: grid;
        gap: var(--Message__gap);
    }

    .content {
        display: block !important;
        grid-column: 1 / -1;
        overflow: hidden;
        overflow-wrap: anywhere;
        white-space: pre-line;
    }

    .date {
        color: var(--Message__date__color);
        font-size: 0.8em;
        white-space: nowrap;
    }

    .header {
        display: flex;
        gap: var(--Message__gap);

        :host([own]) & {
            flex-direction: row-reverse;
        }
    }

    .name {
        color: var(--_Message__name__color);
        flex-grow: 1;
        font-size: 0.8em;
        font-weight: bold;
        overflow-wrap: anywhere;

        :host([own]) & {
            text-align: end;
        }
    }

    .root {
        display: flex;
        gap: var(--Message__gap);
        height: 100%;
        width: 100%;

        :host([own]) & {
            flex-direction: row-reverse;
        }
    }
}
