@layer init;

@import '../../Theme/Theme.css' layer(theme);


@layer init {
    :host {
        --_Message__avatar_char: '';
        --_Message__avatar_char_color: hsl(var(--_Message__avatar_hue), 40%, 40%);
        --_Message__avatar_color: hsl(var(--_Message__avatar_hue), 80%, 60%);
        --_Message__avatar_hue: 0;
        --_Message__avatar_url: '';


        --Message__avatar_size: 48px;
        --Message__date_color: inherit;
        --Message__gap: 8px;

        display: block;
    }


    .avatar {
        background-image: linear-gradient(#fff -50%, var(--_Message__avatar_color));
        border-radius: 50%;
        display: grid !important;
        font-size: calc(var(--Message__avatar_size) * 0.4);
        font-weight: bold;
        grid-template: 100% / 100% !important;
        height: var(--Message__avatar_size) !important;
        place-items: center !important;
        width: var(--Message__avatar_size) !important;

        :host([avatar_url]) & {
            background: center / cover no-repeat var(--_Message__avatar_url);
        }

        :host(:not([avatar_url])) &::after {
            color: var(--_Message__avatar_char_color) !important;
            content: var(--_Message__avatar_char) !important;
        }
    }

    .block {
        display: grid;
        gap: var(--Message__gap);
        grid-template: min-content auto / auto min-content;
    }

    .content {
        display: block !important;
        grid-column: 1 / -1;
        overflow: hidden;
        overflow-wrap: anywhere;
        white-space: pre-line;
    }

    .date {
        color: var(--Message__date_color);
        font-size: 0.8em;
        white-space: nowrap;
    }

    .name {
        color: var(--_Message__avatar_color);
        font-size: 0.8em;
        font-weight: bold;
        overflow-wrap: anywhere;
    }

    .root {
        display: grid;
        gap: var(--Message__gap);
        grid-template-columns: max-content auto;
        height: 100%;
        place-items: start;
        width: 100%;
    }
}
