@layer init {
    :not(:defined) {
        display: none;
    }

    :root {
        --Theme__accent_hue: 200;
        --Theme__background: hsl(var(--Theme__hue), 10%, 20%);
        --Theme__block__background: hsl(var(--Theme__hue), 10%, 30%);
        --Theme__block__background_light: hsl(var(--Theme__hue), 10%, 50%);
        --Theme__block__gap: 8px;
        --Theme__block__gap_double: calc(var(--Theme__block__gap) * 2);
        --Theme__block__radius: 8px;
        --Theme__font: var(--Theme__font_size) / var(--Theme__font_lineHeight) var(--Theme__font_family);
        --Theme__font_family: 'Arial';
        --Theme__font_lineHeight: calc(var(--Theme__font_size) * 1.5);
        --Theme__font_size: 16px;
        --Theme__foreground: #fff;
        --Theme__hue: 240;
        --Theme__selection: hsl(var(--Theme__accent_hue), 50%, 50%);
        --Theme__shadow: #0004;

        background: var(--Theme__background);
        color: var(--Theme__foreground);
    }


    body {
        margin: 0;
    }

    x-main {
        height: 100dvh;
    }
}
