@layer init {
    :host {
        display: block;
        width: 200px;
        position: relative !important;
    }


    .edit {
        display: block;
        width: unset;

        /* &::part(input) { */
        /*     user-select: none; */
        /* } */

        :host(:not([editable])) & {
            /* display: none; */
            /* visibility: hidden; */
        }
    }

    .flickable {
        /* border: 1px solid #888; */
        /* border-radius: 2px; */
        /* height: 100%; */
        /* padding: 10px; */
        /* min-height: 0px; */
        /* max-height: 100px; */
        /* height: 1000px; */
        /* position: relative; */
        /* --Flickable__display__height_max: 100px; */

        &::part(display) {
            /* max-height: 100px; */
            padding: 8px;
        }
    }

    .popup {
        background: #faa;
        border: 1px solid #888;
        border-radius: 2px;
        margin: 0;
        padding: 0;
        /* position: absolute; */
        width: auto !important;
        z-index: 1;

        /* bottom: 100%; */
        /* top: 100%; */

        /* :host([open]) & { */
            display: block;
        /* } */
    }

    .repeater {
        display: contents;
    }

    .root {
        display: contents;
    }
}
