@layer init;

@import '../../Theme/Theme.css' layer(theme);


@layer init {
    :host {
        /* -webkit-user-select: none; */
        display: grid;
        grid-template: 100% / 100%;
        /* touch-action: none; */
        /* user-select: none; */
    }


    .authForm {
        grid-area: 1 / 1 / -1 / -1;
        place-self: center;
        width: 20%;
        z-index: 1;
    }

    .messageFlow {
        grid-area: 1 / 1 / -1 / -1;
    }

    .root {
        display: contents;
    }


    @media (max-width: 1600px) {
        .authForm {
            width: 40%;
        }
    }

    @media (max-width: 720px) {
        .authForm {
            width: 80%;
        }
    }
}
