@layer init;

@import '../../Theme/Theme.css' layer(theme);


@layer init {
    :host {
        /* -webkit-user-select: none; */
        display: block;
        /* touch-action: none; */
        /* user-select: none; */
    }


    .authForm {
        align-self: center;
        grid-area: 1 / 1 / -1 / -1;
        justify-self: center;
        min-width: 50%;
        z-index: 1;
    }

    .messageFlow {
        grid-area: 1 / 1 / -1 / -1;
    }

    .root {
        display: grid;
        grid-template: 100% / 100%;
        height: 100%;
    }


    @media (max-width: 720px) {
        .authForm {
            justify-self: unset;
        }
    }
}
