@layer init;

@import '../../Theme/Theme.css' layer(theme);


@layer init {
    :host {
        /* -webkit-user-select: none; */
        display: block;
        /* touch-action: none; */
        /* user-select: none; */
    }


    .authForm {
        min-width: 50%;
        place-self: center;
    }

    .root {
        height: 100%;

        :host([_verification]) & {
            visibility: hidden;
        }

        &::part(item) {
            display: grid;
            grid-template: 100% / 100%;
        }
    }


    @media (max-width: 720px) {
        .authForm {
            justify-self: unset;
        }
    }
}
