@layer init;

@import '../../Theme/Theme.css' layer(theme);


@layer init {
    :host {
        --AuthForm__gap: 8px;

        -webkit-user-select: none;
        display: block;
        user-select: none;
    }


    .block {
        align-items: center;
        display: grid;
        gap: var(--AuthForm__gap);
        grid-template: auto auto auto / min-content auto;
    }

    .button {
        text-align: center;
    }

    .label {
        justify-self: end;
    }

    .root {
        display: grid;
        gap: var(--AuthForm__gap);
    }

    .trackBar_hue {
        --TrackBar__length: auto;
        grid-column: 2;
    }
}
