@layer init {
    :not(:defined) {
        display: none;
    }

    :root {
        --_Theme__font_lineHeight: calc(var(--Theme__font_size) * var(--Theme__font_lineHeight));


        --Theme__accent_hue: 180;
        --Theme__background: hsl(var(--Theme__hue), 5%, 20%);
        --Theme__block__background: hsl(var(--Theme__hue), 10%, 30%);
        --Theme__block__background_accent: hsl(var(--Theme__accent_hue), 30%, 30%);
        --Theme__block__background_light: hsl(var(--Theme__hue), 10%, 50%);
        --Theme__block__gap: 8px;
        --Theme__block__gap_double: calc(var(--Theme__block__gap) * 2);
        --Theme__block__radius: 8px;
        --Theme__button__background: hsl(var(--Theme__hue), 15%, 30%);
        --Theme__button__background_accent: hsl(var(--Theme__accent_hue), 40%, 40%);
        --Theme__button__foreground: hsl(var(--Theme__accent_hue), 60%, 60%);
        --Theme__edge__width: 16px;
        --Theme__font: var(--Theme__font_size) / var(--Theme__font_lineHeight) var(--Theme__font_family);
        --Theme__font_family: 'Arial';
        --Theme__font_lineHeight: 1.5;
        --Theme__font_size: 16px;
        --Theme__foreground: #fff;
        --Theme__foreground_accent_dim: hsl(var(--Theme__accent_hue), 80%, 80%);
        --Theme__foreground_dim: hsl(var(--Theme__hue), 10%, 60%);
        --Theme__ghost_transition: opacity 0.6s ease-out;
        --Theme__hue: 200;
        --Theme__selection: hsl(var(--Theme__accent_hue), 50%, 50%);
        --Theme__shadow: #0004;

        background: var(--Theme__background);
        color: var(--Theme__foreground);
        font: var(--Theme__font);
        overflow: hidden;
    }


    body {
        margin: 0;
    }

    x-authForm {
        padding: var(--Theme__block__gap_double);

        &::part(label) {
            color: var(--Theme__foreground_dim);
        }
    }

    x-edit {
        border-color: var(--Theme__foreground_dim);
        width: auto;

        &[_focused] {
            border-color: var(--Theme__foreground);
        }

        &::part(button) {
            stroke: var(--Theme__foreground_dim);
        }
        &::part(button):hover {
            stroke: var(--Theme__foreground);
        }

        &::part(input)::selection {
            background-color: var(--Theme__selection);
        }
    }

    x-flickable {
        --Flickable__puck__margin_inner: 32px;
        position: relative;

        &::after {
            background: linear-gradient(transparent, var(--Theme__shadow));
            content: '';
            height: var(--Theme__edge__width);
            inset: 0;
            opacity: 0;
            pointer-events: none;
            position: absolute;
            top: auto;
            transition: var(--Theme__ghost_transition);
        }
        &[_scroll_y]:not([_scrollEdge_y_end])::after {
            opacity: 1;
        }

        &::before {
            background: linear-gradient(var(--Theme__shadow), transparent);
            bottom: auto;
            content: '';
            height: var(--Theme__edge__width);
            inset: 0;
            opacity: 0;
            pointer-events: none;
            position: absolute;
            transition: var(--Theme__ghost_transition);
        }
        &[_scroll_y]:not([_scrollEdge_y_begin])::before {
            opacity: 1;
        }

        &::part(puck) {
            background: var(--Theme__block__background_light);
        }
    }

    x-message {
        --Message__date__color: var(--Theme__foreground_dim);
        --Message__gap: var(--Theme__block__gap);

        &[own] {
            --Message__date__color: var(--Theme__foreground_accent_dim);
        }

        &[own]::part(block) {
            background: var(--Theme__block__background_accent);
        }
    }

    x-messageFlow {
        --MessageFlow__button_send__size: calc(var(--_Theme__font_lineHeight) + var(--Theme__block__gap_double) * 2);
        --MessageFlow__gap: var(--Theme__block__gap);
    }

    x-root {
        --Root__button_menu__size: calc(var(--_Theme__font_lineHeight) + var(--Theme__block__gap_double) * 2);
        --Root__gap: var(--Theme__block__gap);
        inset: 0;
        position: absolute;

        &::part(header) {
            font-size: 2em;
        }
    }

    x-textArea {
        --TextArea__gap: var(--Theme__block__gap);
        --TextArea__placeholder_color: var(--Theme__foreground_dim);
        --TextArea__placeholder_opacity: 1;
        --TextArea__puck__margin_inner: var(--Theme__block__gap);
        --TextArea__puck__margin_outer: var(--Theme__block__gap_double);
        border: none;
        max-height: min(120px, 50dvh);
        width: auto;

        &::part(input)::selection {
            background-color: var(--Theme__selection);
        }

        &::part(puck) {
            background: var(--Theme__block__background_light);
        }
    }


    .Theme__block {
        background: var(--Theme__block__background);
        border-radius: var(--Theme__block__radius);
        padding: var(--Theme__block__gap_double);
    }

    .Theme__button {
        background: var(--Theme__button__background);
        border-radius: var(--Theme__block__radius);
        color: var(--Theme__button__foreground);
        cursor: pointer;
        fill: var(--Theme__button__foreground);
        font-size: 1.2em;
        padding: var(--Theme__block__gap_double);

        &:hover {
            background: var(--Theme__button__background_accent);
            color: var(--Theme__foreground);
            fill: var(--Theme__foreground);
        }
    }

    .Theme__ghost {
        &[_building] {
            opacity: 0;
        }
        &:not([_building]) {
            transition: var(--Theme__ghost_transition);
        }
    }

    .Theme__icon {
        display: block;
        height: 100%;
        width: 100%;
    }


    [_building] {
        visibility: hidden;
    }
}
