@layer init;

@import '../../Theme/Theme.css' layer(theme);


@layer init {
    :host {
        --MessageFlow__button_send__size: 32px;
        --MessageFlow__gap: 8px;

        display: block;
    }



    .button_send {
        display: grid !important;
        grid-template: 100% / 100% !important;
        height: var(--MessageFlow__button_send__size) !important;
        place-items: center !important;
        width: var(--MessageFlow__button_send__size) !important;
    }

    .display {
        --Flickable__scrollBar__width: var(--MessageFlow__gap);
        overflow: hidden;

        &::part(content) {
            align-content: end;
            display: grid;
            gap: var(--MessageFlow__gap);
            grid-template-columns: 50%;
            justify-content: center;
            justify-items: start;
            min-height: 100%;
            padding: var(--MessageFlow__gap);
            padding-right: calc(var(--MessageFlow__gap) * 2);
        }
    }

    .icon {
        display: block;
        height: 100%;
        width: 100%;
    }

    .message {
        max-width: 90%;

        &[own] {
            justify-self: end;
        }
    }

    .meta_textArea {
        align-items: end;
        display: grid;
        gap: var(--MessageFlow__gap);
        grid-template-columns: auto min-content;
    }

    .repeater {
        display: contents;
    }

    .root {
        display: grid;
        grid-template-rows: auto min-content;
        height: 100%;
    }

    .toolBar {
        padding: var(--MessageFlow__gap);
        display: grid;
        grid-template-columns: 50%;
        place-content: center;
    }


    @media (max-width: 1080px) {
        .display {
            &::part(content) {
                grid-template-columns: 100%;
            }
        }

        .toolBar {
            grid-template-columns: unset;
            place-content: unset;
        }
    }
}
